.page__header {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
  .page__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

    .page__logo {
      color: #000000;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      margin-right: 93px;
      padding-top: 24px;

      &__item {
        color: var(--navlink-color);
      }
    }
    .nav {
      position: relative;
    }
    .menu__nav {
      display: inline-flex;
      gap: 50px;
      &__item {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 0;
      }
      &__link {
        color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14px;
        position: relative;
        padding-bottom: 32px;
        padding-top: 32px;
        &:hover,
        &:active,
        &:focus {
          color: var(--navlink-color);
        }
      }
      .curent-card::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        background-color: var(--navlink-color);
        bottom: 0px;
        left: 0;
      }
    }

    .contact__nav {
      display: flex;
      gap: 40px;
      margin-left: auto;
      padding-top: 32px;
      padding-bottom: 32px;

      &__item {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: auto;
      }
    }
    .contact__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: #212121;
      &:hover,
      &:active,
      &:focus {
        color: var(--navlink-color);
      }
    }
    .contact__icon {
      display: inline-block;
      fill: currentColor;
      margin-right: 10px;
      height: 14px;
      width: 16px;
      &:hover {
        color: #212121;
      }
    }
  }
}
