.section__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 0;
}
.section__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.grid {
  @extend .grid;
  margin-top: 50px;
  gap: 5px;
  &__item {
    position: relative;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: 30px;
  }
}
.gallery__card-photo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.gallery__text-photo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
